html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/styles-min.css")
		title Document
	body
		h1 Hola Mundo
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dignissimos molestias nesciunt temporibus quibusdam praesentium ratione ipsam reprehenderit nihil iusto similique ducimus, ab exercitationem sequi velit eum? Enim, fugiat vero!
		script(src="js/scripts-min.js") 