body {
	font-family: $font-body;
	color: $primary-color;
	background-color: $second-color;
	font-size: 1em;
}

ul {
	@include reset-list;
}

header,
.modules,
.divider,
footer {
	background-color: $primary-color;
	color: $second-color;
}

.container {
	margin: 0 auto;
	padding: 4rem 0;
	max-width: 960px;
}

button {
	background-color: transparent;
	border: none;
}


/* Headings & Backgrounds */

.bgc-red {
	background-color: $acent-color-a;
}

.bgc-yellow {
	background-color: $acent-color-b;
}

.bgc-blue {
	background-color: $acent-color-c;
}

.bgc-pink {
	background-color: $acent-color-d;
}

.color-red {
	color: $acent-color-a;
}

.color-yellow {
	color: $acent-color-b;
}

.color-blue {
	color: $acent-color-c;
}

.color-pink {
	color: $acent-color-d;
}