//- Modules
-
	const modules = [
		{
			name:'Imagen Pública',
			teacher: 'Victor Vázquez',
			description: 'Aprende a generar una percepción positiva de personas, empresas, organizaciones y marcas. Descubre la responsabilidad social y profesional del consultor de imagen.',
			photo:'imagen-publica'
		},
		{
			name:'Imagen Personal',
			teacher: 'Mónica Bravo y Loren Meschoulam',
			description: 'Conoce los distintos tipos de cuerpo y morfología de rostros en mujeres y hombres. Define tu estilo y personalidad, aplicando lo aprendido en tu propio proyecto de imagen personal.',
			photo:'imagen-personal'
		},
		{
			name:'Comunicación Verbal y No Verbal',
			teacher: 'Coca Sevilla',
			description: 'Domina técnicas para expresar tus ideas de forma empática, efectiva y honesta. Mejora tu comunicación personal y profesional.',
			photo:'comunicacion-verbal-y-no-verbal'
		},
				{
			name:'Protocolo Social y Profesional',
			teacher: 'Claudia Moreno',
			description: 'Domina las actitudes para crecer profesional y personalmente. Desarrolla hábitos que te harán destacar en cualquier evento. Conecta con personas y establece relaciones a largo plazo.',
			photo:'protocolo-social-y-profesional'
		},
		{
			name:'Construcción de Imagen en Medios Digitales',
			teacher: 'Roberta Hernández',
			description: 'Aprende los fundamentos para elaborar una estrategia integral de comunicación. Desarrolla Conoce los medios digitales más adecuados, para comunicar de forma efectiva los atributos de tu marca personal.',
			photo:'construccion-de-imagen-en-medios-digitales'
		},
		{
			name:'Imagen Institucional',
			teacher: 'Jorge Moreno',
			description: 'Desarrolla las habilidades personales y profesionales de tu equipo. Aprende a crea una imagen colectiva que distinga a tu empresa. Implementa dinámicas de motivación, expresión y rituales de interacción.',
			photo:'imagen-institucional'
		},
				{
			name:'Posicionamiento y Branding de la Imagen',
			teacher: 'Manolo Trujillo',
			description: 'Reflexiona sobre la importancia de tener una marca personal. Aprende el paso a paso y desarrolla una marca exitosa. Fortalece tus comunicaciones y relaciones profesionales a través de tu marca.',
			photo:'posicionamiento-y-branding-de-la-imagen'
		},
		{
			name:'Tendencias',
			teacher: 'Coca Sevilla',
			description: 'Aprende las tendencias de imagen personal. Ayuda a personas en tratamiento oncológico a sentirse y verse mejor. Mejora la confianza de personas te talla amplia y transmítela a los demás.',
			photo:'tendencias'
		},
	]

//- Teachers
-
	const teachers = [
		{
			name: 'Coca Sevilla',
			title: 'Consultora en Imagen Pública y Corporativa',
			about: 'Licenciada en Administración de Empresas con maestría en Mercadotecnia de Utrecht Holanda. Tiene la certificación de más alto nivel como consultor de imagen: AICI Certified Image Master. Fue presidenta de la Asociación Internacional de Consultores de Imagen.',
			instagram: '@coca_sevillac',
			link: 'https://www.instagram.com/coca_sevillac/',
			photo: 'coca-sevilla'
		},
		{
			name: 'Claudia Merino',
			title: 'Asesora de Imagen Personal y Corporativa',
			about: 'Conferencista internacional, Especialista en Imagen Personal y Protocolo Corporativo. Asesora para personalidades del ámbito político, artístico y ejecutivo. VP de la mesa directiva de la Asociación Internacional de Consultores de Imagen AICI México City 2018-2020. CEO y fundadora de CM Imagen, Estrategia en Imagen y Comunicación.',
			instagram: '@asesora_claudiamerino',
			link: 'https://www.instagram.com/asesora_claudiamerino/',
			photo: 'claudia-merino'
		},
		{
			name: 'Jorge Moreno',
			title: 'Consultor en Imagen Relaciones Públicas y Negocios',
			about: 'Capacitador y diseñador de imagen, especialista en imagen institucional, imagen colectiva, imagen de marca, diseño y styling en oficinas, etiqueta, protocolo, formador en lenguaje corporal,  experto en colorimetría personal, estudio, análisis de estilo y guardarropa. Forma parte parte de la Association of Image Consultants International Capítulo Ciudad de México.',
			instagram: '@georgemore',
			link: 'https://www.instagram.com/georgemore/',
			photo: 'jorge-moreno'
		},
		{
			name: 'Loren Meschoulam',
			title: 'Coach Transformacional de Imagen y Fashion Stylist',
			about: 'Consultora en Imagen nivel AICI Certified Image Consultant, Diseñadora de joyería y maquillista profesional Style Coach. Miembro activo de la mesa directiva del AICI Capítulo México. En 2017 recibió un reconocimiento como miembro del año por AICI internacional. Imparte clases, talleres, conferencias, diplomados a nivel nacional e internacional.',
			instagram: '@loren_meschoulam',
			link: 'https://www.instagram.com/loren_meschoulam/',
			photo: 'loren-meschoulam'
		},
		{
			name: 'Manolo Trujillo',
			title: 'Brand Manager',
			about: 'Especialista en lenguaje corporal, gestión de imagen integral y branding. Asesor de distintas personalidades publicas, políticas y del sector privado. Creador del Día Internacional del Consultor en Imagen. Actualmente es Vicepresidente de vinculación Universitaria, AICI Capítulo Guadalajara. Coordinador de la licenciatura en Imagen en el Instituto Universitario Franco Inglés de México.',
			instagram: '@manolotrujilloa',
			link: 'https://www.instagram.com/manolotrujilloa/',
			photo: 'manolo-trujillo'
		},
		{
			name: 'Mónica Bravo',
			title: 'Personal Shopper y Presidenta de la AICI',
			about: 'Con 15 años de experiencia trabajando con artistas y gente del jet set de Mexico y Estados Unidos. Especialista en Personal Shopper, trabaja desde hace más de 10 años con Antara Fashion Hall y es consejera de moda del periódico Reforma. Actualmente es Presidenta de la Asociación Internacional de Consultores de Imagen Capitulo Ciudad de México.',
			instagram: '@monicabravob',
			link: 'https://www.instagram.com/monicabravob/',
			photo: 'monica-bravo'
		},
		{
			name: 'Víctor Vázquez',
			title: 'CEO Centro de Imagen y Percepción en México',
			about: 'Licenciado en Comunicación, con maestría en Ingeniería en Imagen Pública. AICI Certified Image Consultant, certificado en Calidad del Servicio por Disney Institute y certificado en Fan Engagent por el Club de Fútbol Barcelona. Presidente de la AICI Capítulo Ciudad de México‬ 2016-2018.‬',
			instagram: '@vicvazmez',
			link: 'https://www.instagram.com/vicvazmez/',
			photo: 'victor-vazquez'
		},
		{
			name: 'Roberta Hernández',
			title: 'Especialista en Marca Personal y Brand Styling',
			about: 'Consultora en Imagen especializada en Marca Personal y Brand Styling. Desde 2012 ha desarrollado estrategias de branding y social media para marcas en Latino América, España y Estados Unidos con su agencia creativa Groovy Estudio. Actualmente es VP de Marketing y Comunicación para AICI Mexico City Chapter periodo 2020-2022.',
			instagram: '@robertahernandezg',
			link: 'https://www.instagram.com/robertahernandezg/',
			photo: 'roberta-hernandez'
		},
	]