.teachers-grid {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(2,1fr);
	justify-content: center;
	align-items : stretch;
	grid-gap: .5rem;
	@include tablet {
		width: 90%;
		margin: 0 auto;
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(4,1fr);
	}
	@include mobile {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
}

.teachers-items {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.teachers-front,
.teachers-back {
	height: 100%;
}

.teachers-front {
	background-color: $primary-color;
}

.teachers-back {
	position:absolute;
	left: 0;
	box-sizing: border-box;
	background-color: $acent-color;
	padding: 1rem;
	opacity: 0;
	@include transition;
	@include mobile{
		padding: 2rem;
	}
} 

.teachers-items:hover .teachers-back {
	opacity: 1;
	top: 0;
}

.teachers-image img {
	width: 100%;
}
.teachers-info {
	text-align: center;
}
.teachers-info h3 {
	margin: 0;
	color: $second-color;
}
.teachers-info span {
	display: block;
	width: 80%;
	font-size: .8rem;
	margin: 0 auto;
	padding: .5rem;
	color: $second-color;
	opacity: .6;
}

.teachers-back p {
	font-size: .85rem;
	line-height: 1.3rem;
	margin: 0;
	vertical-align: middle;
	color: $second-color;
	@include tablet{
		font-size: 1rem;
	}
	@include mobile{
		font-size: 1.3rem;
		line-height: 2rem;
	}
}

.teachers-back i {
	padding-top: 1rem;
	color: $second-color;
}
.teachers-back i a {
	padding-left: .5rem;
	position: relative;
	top: -4px;
	color: $second-color;
	@include mobile {
		font-size: 1.2rem;
		line-height: 2rem;
	}
}
