.container
	p Para m치s detalles de los m칩dulos y profesores visita nuestra documentaci칩n interactiva.
	a(href='downloads/Documentacion-i360.pdf' target='_blank') Saber M치s
.colors
	span.bgc-red.color-red .
	span.bgc-yellow.color-yellow . 
	span.bgc-blue.color-blue .
	span.bgc-pink.color-pink.