.container
	img(src="assets/images/logos/logo-asmedia.png", alt="Logo AsMedia")
	i.fas.fa-angle-double-right
		p Educación Continua
	img(src="assets/images/logos/logo-i360.png", alt="Logo Diplomado")
	ul
		+item('fa fa-mobile-alt','','222 263 7514')
		+item('fa fa-home','','www.asmedia.edu.mx')
		+item('fa fa-map-marker','','Av. Juárez #1511, Col. La Paz. Puebla, Mexico')