.container
	h2 Registro 
	script(charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js")
	script.
		hbspt.forms.create({
		region: "na1",
		portalId: "19503569",
		formId: "f2ec4a51-92f7-418f-a7d6-926bdec55b89"
		});

