.container
	img(src="assets/images/logos/logo-i360.png", alt="Logotipo Diplomado")
	p Nadie es dueño de su imagen, la imagen vive en la mente de los demás y se convierte en la realidad de quién lo percibe. Pero sí somos responsables de esa percepción y podemos construir la imagen adecuada, en la mente correcta.
	a(href="#main") 
		i.fas.fa-chevron-down