.container#main
	p Aprende a crear, cambiar y cuidar la reputación de una empresa, marca, producto o persona. Conviértete en un consultor que ayuda a los demás, generando un alto impacto social, transcendencia profesional y sobre todo, riqueza humana.
	ul
		+item('far fa-play-circle','Inicio: ','30 de octubre')
		+item('far fa-stop-circle','Fin: ','12 de marzo')
		+item('far fa-clock','Horas','85 horas')
		+item('far fa-calendar','Día','Sábados')
		+item('far fa-bell','Horario','9:00 a 14:00 hrs')
		+item('fas fa-dollar-sign','Costo','$11,500.00 MXN - IVA incluido.')