.container#main
	h1 Diplomado en Consultoría y Gestión de Imagen 360
	.main-container
		.main-about
			p Aprende a crear, cambiar y cuidar la reputación de una empresa, marca, producto o persona. Conviértete en un consultor que ayuda a los demás, generando un alto impacto social, transcendencia profesional y sobre todo, riqueza humana.
		.main-general
			ul
				+item('far fa-play-circle','Inicio: ','04 de junio')
				+item('far fa-stop-circle','Fin: ','24 de septiembre')
				+item('far fa-clock','Horas: ','85 horas')
				+item('far fa-calendar','Día: ','Sábados')
				+item('far fa-bell','Horario: ','9:00 a 14:00 hrs')
				+item('fas fa-dollar-sign','Costo: ','$12,500.00 MXN (IVA incluido)')
	.main-highlights
		ul
			li
				span: i.fas.fa-award
				p Diplomado de calidad internacional.
			li
				span: i.fas.fa-user-check
				p Profesores certificados, pertenecientes a AICI.
			li
				span: i.far.fa-check-circle
				p Diploma con valor curricular.
			li
				span: i.far.fa-smile
				p Precio competitivo y accesible.
			li
				span: i.fas.fa-money-bill-wave-alt
				p Diferentes formas de pago.
			li
				span: i.fas.fa-gift
				p Promociones y descuentos.