.container
	h2 Promociones
	.promo-container
		.promo-item
			p -20%
			h5 General
			ul 
				li 20% de descuento.
				li 1er pago hasta el 28 sep.
				li 2o pago hasta el 28 de oct.
			span Vigencia hasta el 28 de septiembre
		.promo-item
			p -25%
			h5 1 solo pago
			ul 
				li 25% de descuento.
			span Vigencia hasta el 15 de octubre
		.promo-item
			p Dif. 
			h5 Pagos diferidos
			ul 
				li 1er pago hasta el 28 oct.
				li 2o pago hasta el 28 de nov.
				li 3er pago hasta el 18 de dic.
			span Vigencia hasta el 29 de octubre